@import '../../assets/styles/base';

.slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    justify-items: center;
    align-items: center;

    @media only screen and (max-width: 825px) {
        grid-template-columns: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1.5rem;
    }

    &__title {
        text-align: center;
        font-style: italic;
    }

    &__wrapper {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;

        @include not-desktop {
            gap: 1rem;
        }

        a,
        span {
            padding: 0.8rem;
            border: 1px solid $white-color;
            border-radius: $border-radius-04;

            @include mobile-only {
                font-size: 1.2rem;
                padding: 0.4rem;
            }
        }
    }

    &__description {
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin: auto 0 4rem;

        @include not-desktop {
            margin-bottom: 1rem;
        }
    }

    &__button {
        background-color: $pink-color;
        border: none;
        cursor: pointer;
        padding: 1rem;
        border-radius: $border-radius-04;
        transition: opacity 0.2s ease-in-out;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 2rem;

        @include mobile-only {
            padding: 1rem;
            font-size: 1.4rem;
        }

        &:is(:hover, :active, :focus) {
            opacity: 0.7;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 400px;

        @include mobile-only {
            max-height: 200px;
        }
    }
}
