// Sizes
$tablet: 600px;
$desktop: 1024px;
$content-container: 1200px;

// Colors
$white-color: #fff;
$black-color: #000;
$navy-color: #025464;
$dark-orange-color: #e57c23;
$light-orange-color: #e8aa42;
